<%- include('./partials/header') %>

<div class="section2">
    <h2>Accès refusé, merci de passer par la page suivante</h2>
    <p><a href="/">Page d'introduction</a></p>
</div>

<%- include('./partials/footer') %>