<%- include('./partials/header') %>
<script defer src="/js/epreuve3Script.js"></script>

<div class="containerEpreuve3">

    <div class="parallax" style="background-image: url('/pictures/chouette.jpg');"></div>

    <div class="sectionChouette">
        <p class="paragraphe-chouette"></p>
     <img class="lunette" src="/pictures/lunette.png">
        
    
    
    </div>




    <%- include('./partials/footer') %>