<%- include('./partials/header') %>
<script defer src="/js/hideButtonScript.js"></script>

<div class="containerSite">

    <div class="parallax" style="background-image: url('/pictures/stars.jpg');"></div>
    
            <div class="sectionHideButton">
                <p>La soleil est couché, la nuit est désormais bien installée.</p>
                <p>Margaux entend un murmure, comme une petite voix, qui venait de l'extérieur</p>
                <p>Elle sort et contemple les étoiles un instant. Elle prend une grande bouffée d'être frais et expire lentement.</p>
                <p>Soudain, le murmure reprend, d'ou cela pouvait-il provenir ? </p>

                
                <p class="indice1" >Indice : cherchez le murmure caché dans le ciel à l'aide de votre souris</p>
            </div>

            <div class="sectionHideButton2">
            <div class="hideButton"></div>
            </div>


<%- include('./partials/footer') %>