<%- include('./partials/header') %>
<script defer src="/js/epreuve4Script.js"></script>

<div class="containerEpreuve3">

    <div class="parallax" style="background-image: url('/pictures/cabane.jpeg');"></div>

        <div class="trou"></div>
        <div class="digicode">
            <img class="image-digicode" src="/pictures/digicode.png" alt="">
        </div>
            

    
    
    
    





    <%- include('./partials/footer') %>