<%- include('./partials/header') %>
<script defer src="/js/epreuve2Script.js"></script>

<div class="containerSite">

    <div class="parallax" style="background-image: url('/pictures/chat-nuit.jpg');"></div>

    <div class="sectionChat">
        <p class="paragraphe-chat"></p>
    
    
    
    
    </div>




    <%- include('./partials/footer') %>