<%- include('./partials/header') %>
<script defer src="/js/final.js"></script>

<div class="containerEpreuve3">

    <div class="parallax" style="background-image: url('/pictures/interieur.jpeg');"></div>

    <div class="containerChoice">
        <p class="text-choice">Veuillez indiquer l'action que vous souhaitez réaliser</p>
        <input class="input-choice" type="text">
        <input class= "submit-choice" type="submit">
    </div>
    <div class="containerNarratif">
        <p class="text-narratif">-texte narratif-</p>
    </div>
            

    
    
    
    





    <%- include('./partials/footer') %>