<%- include('./partials/header') %>
<script defer src="/js/homeScript.js"></script>

<div class="containerSite">

<div class="parallax" style="background-image: url('/pictures/background.jpg');"></div>

        <div class="section2">
            <h2>Bienvenue dans cet espace qui n'attendait que toi</h2>
        </div>

        <div class="section3">
            <h2>Que fais-tu ici ?</h2>
            <p>C'est une bonne question...</p>
        </div>

        <div class="section3">
            <h2>Mais, la vraie question c'est</h2>
            <p>Que vas-tu faire ici... ?</p>
        </div>

        <div class="section3">
            <h2>Commence par écouter mon histoire</h2>
            <br>
            <p>Il était une fois dans un petit village de campagne, un homme et une femme qui s'aimaient éperduement</p>
            <p>Nous étions en hiver, où les jours durent moins longtemps, et les nuits semblent s'éterniser.</p>
            <p>Il faisait froid dehors. Pas ce froid qui vous glace les entrailles, mais plutôt un froid sec et agréable. Celui qui fait apprécier la quiétude des journées hivernales.</p>
            <p>L'effet du soleil qui se couchait, donnait à la lune une couleur spéciale. Comme si elle était génée de se dévoiler à nous alors que le soleil était encore présent.</p>
            <p>A mesure que la lune montait dans le ciel, sa couleur se teintait d'un blanc étincellant</p>
            <p>Les étoiles, comme à leurs habitudes, se mettaient à danser tout autour de la lune, décrivant objets et animaux en tout genre, un ours , une croix, un chien... </p>
            <p>L'entrain de la journée s'estompait progressivement, dehors, plus rien ne bougeait ou presque. Chat, renard, sanglier, hiboux, chouette, s'étaient réveillés. </p>
            <p>Dorénavent, ça serait eux les rois de la nuit. Les yeux transperçant la pénombre, ils pouvaient maintenant, chasser, jouer, se rouler dans la boue, sans peur d'être pris la main dans le sac. </p>
            <p>Dans les chaumières, la vie s'accélérait aussi avant de brusquement s'arrêter jusqu'au levée du prochain soleil.</p>
            <p>Margaux était là, devant son ordinateur, les yeux équarquillés, essayant de comprendre ce qu'elle était en train de lire</p>
            <p>A mesure, qu'elle avançait dans sa lecture, elle comprenait que le court récit qu'elle avait lu semblait lui être adressée.</p>
            <p>Une lettre d'amour numérique ? Une histoire inventée ? Mais que faisait-elle ici ? Qu'est ce que ça voulait dire tout ça ?</p>
            <button id="lien7">7</button>
            <p>C'était lui la clé de cette énigme.</p>

            <div class="compteur" id='compteur'></div>
            <div class="buttonNext" id='7years'></div>
            <button id='buttonNext' class="buttonNext"></button>
        </div>



<%- include('./partials/footer') %>